@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ShopIt!</h1>
    <img src="~/lib/images/ecommerce-photography.jpg" class="image"/>
    <p class="text">ShopIt is a fashion brand which has over 200 clothing and footwears store<br/> for both boys and girls all over the world</p>
    <button class="button" type="button" onclick="location.href = '@Url.Action("Products", "Home")'">Shop Now</button>
</div>

