@{
    ViewData["Title"] = "Products";
}

<div class="product">
    <div class="text-center">
        <a asp-area="" asp-controller="Home" asp-action="Index"><span class="text back"><i class="fa-solid fa-circle-arrow-left"></i>Back</span></a>
        <img src="~/lib/images/y2021-05-20-19_generated.jpg" class="image"/>
        <div>
            <img src="~/lib/images/shopit logo.png" class="brand"/>
        </div>
        <p class="text">Stay Tuned! <br /> New products are</p>
        <h1 class ="text">Coming Soon</h1>
        <h3 class="text">Get notified when we launch</h3>
        <div class="form">
            <input type="text" placeholder="Enter your email addresss" class="text email" />
            <button class="text notify-btn">Notify Me</button>
        </div>
        <div>
            <span class="text socials"><i class="fa-brands fa-facebook"></i></span>
            <span class="text socials"><i class="fa-brands fa-instagram"></i></span>
            <span class="text socials"><i class="fa-brands fa-twitter"></i></span>
            <span class="text socials"><i class="fa-brands fa-youtube"></i></span>
        </div>
    </div>
</div>